/* HEADER PROPIEDADES GENERALES */
.logo {
    width: 4rem;
    cursor: pointer;
}

.collapse {
    justify-content:end;
}

.nav-link {
    margin: .50rem;
}

/* HEADER PÁGINAS SECUNDARIAS */
.bg-header {
    background: linear-gradient(20deg, $color-secundario 0%, $color-principal 100%);
}
