
/* TABLET */
@media screen and (min-width: 541px) and (max-width: 810px) {

    /* HEADER */

    .titulos__h1 {
        font-size: 5em;
        font-weight: 500px;
    }
}

/* CELULAR */
@media screen and (min-width: 320px) and (max-width: 540px) {

    /* GENERAL */
    .titulo {
        font-size: 2.5rem;
    }

    /* HEADER */
    .nav__links {
        display: list-item;
    }

    .titulos__h1 {
        font-size: 5rem;
        font-weight: 350px;
    }

    /* PÁGINA: CIUDAD */
    .galeria {
        grid-template-columns: 100%;
        grid-template-rows: 50vh;
        padding-left: 0px;
        padding-right: 0px;
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7";
    }

    /* PÁGINA: TERMAS / CAMPING */
    .parrafo__termas-camping {
        margin: 1rem;
    }
}